{% extends "base.html" %}
{% block body %}
  <h1>Users</h1>
  <ul>
    {% for user in users %}
      {% if user == logged_in %}
        <li><b>{{ user.username }} | {{ user.email }} | {{ user.password }}</b></li>
      {% else %}
        <li>{{ user.username }} | {{ user.email }} | {{ user.password }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% if current_user.is_active() %}
    <a href="{{ url_for('logout') }}">Logout</a>
  {% else %}
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
  {% endif %}
{% endblock %}